<launch>
  <node  name="sim_rtk_mapping_node" pkg="lidar_rtk_calib_sdk" type="sim_rtk_mapping_node" output="screen" required="true" >
    <param name="imu_topic" value="/imu/data" />
    <param name="rtk_topic" value="/navsat/fix" />
    <param name="lidar_topic" value="/rslidar_points" />
    <param name="lidar_frame" value="rslidar" />
    <param name="car_frame" value="base_link" />
  <rosparam param="trans">[0.909875, -0.134702, 0]</rosparam>
  <rosparam param="quat">[ 0.999725, -0.0184967, 0.00233223, 0.0142111]</rosparam>

 <!--<rosparam param="trans">[1.98396 ,-0.206832 ,  -0] </rosparam>-->
  <!--<rosparam param="quat">[0.999903, 0.0101219, 0.00167243, 0.00943612] < /rosparam>-->

</node>
  <!--<node pkg="rosbag" type="play" name="rosbag" args=" -d 0.5 -r 1  /media/glm/DataDisk/lidar_imu/2018-12-27/_cali_8zixing_rtk.bag"/>-->
  <node pkg="rosbag" type="play" name="rosbag" args=" -d 0.5 -r 1  /home/qcl/bag/lidar_rtk_calib.bag"/>

  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find lidar_rtk_calib_sdk)/rviz/sim_rtk_mapping.rviz" />
</launch>